{%- if include.author -%}

  {%- assign posts = site.posts | where: "author", include.author -%}
  {%- assign author = site.data.authors | where: "id", include.author | first -%}

  <section class="author-profile">

    {%- if author.image -%}
      <figure class="author-image">
        {%- if include.link -%}
          <a href="/author/{{ author.name | slugify }}/" class="img" style="background-image: url('{{ author.image }}')"><span class="hidden">{{ author.name }}'s Picture</span></a>
        {%- else -%}
          <div class="img" style="background-image: url('{{ author.image }}')"><span class="hidden">{{ author.name }}'s Picture</span></div>
        {%- endif -%}
      </figure>
    {%- endif -%}

    <h1 class="author-title">
      {%- if include.link -%}
        <a href="/author/{{ author.name | slugify }}/">{{ author.name }}</a>
      {%- else -%}
        {{ author.name }}
      {%- endif -%}
    </h1>

    {%- if author.bio -%}
      <h2 class="author-bio">{{ author.bio }}</h2>
    {%- endif -%}

    <div class="author-meta">
      {%- if author.location -%}
        <span class="author-location icon-location">{{ author.location }}</span>
      {%- endif -%}

      {%- if author.website -%}
        <span class="author-link icon-link"><a href="{{ author.website }}">{{ author.website }}</a></span>
      {%- endif -%}

      <span class="author-stats"><i class="icon-stats"></i> {{ posts.size }} {% if posts.size == 1 %}post{% else %}posts{% endif %}</span>
    </div>

  </section>

{%- endif -%}
