<footer class="site-footer clearfix">
  <section class="decaf-about">
    <p><a href="https://decaf.de">DECAF</a> is a <i><abbr title="Short as in short cappuccino">short</abbr></i> web-driven software company based in Berlin and
    Langenberg/NRW,&nbsp;Germany. We do frontend, backend and some design/UX.<br>
    Current setup: <a href="https://laravel.com">Laravel</a> + <a href="https://reactjs.org">React</a>.</p>
    <p>&copy; <a href="https://decaf.de">DECAF</a> {{ site.time | date: "%Y" }}, <a href="{% link impressum.html %}">Legals/Impressum</a></p>
  </section>
</footer>
