<div class="nav">
  <a href="#" class="nav-close">
    <span class="hidden">Close</span>
  </a>
  <ul>
    <li class="nav-home{%- if page.url == '/' -%} nav-current{%- endif -%}" role="presentation"><a href="{%- link index.html -%}">Home</a></li>
    <li class="nav-about{%- if page.url == '/about' -%} nav-current{%- endif -%}" role="presentation"><a href="{%- link about.html -%}">About</a></li>
    <li class="nav-archives{%- if page.url == '/archives' -%} nav-current{%- endif -%}" role="presentation"><a href="{%- link archives.html -%}">Archives</a></li>
    <li class="nav-featured{%- if page.url == '/featured' -%} nav-current{%- endif -%}" role="presentation"><a href="{%- link featured.html -%}">Featured</a></li>
  </ul>
  <a class="subscribe-button icon-feed" href="{%- link rss.xml -%}">Subscribe</a>
</div>
