/*

@font-face {
    font-family: 'Merriweather';
    font-weight: 300;
    font-style: normal;
    src: local('Merriweather Light'),
    local('Merriweather-300'),
    url('../fonts/Merriweather-300/Merriweather-300.woff') format('woff');
}

@font-face {
    font-family: 'Merriweather';
    font-weight: 700;
    font-style: normal;
    src: local('Merriweather Bold'),
    local('Merriweather-700'),
    url('../fonts/Merriweather-700/Merriweather-700.woff') format('woff');
}

@font-face {
    font-family: 'Merriweather';
    font-weight: 300;
    font-style: italic;
    src: local('Merriweather Light Italic'),
    local('Merriweather-300italic'),
    url('../fonts/Merriweather-300italic/Merriweather-300italic.woff') format('woff');
}

@font-face {
    font-family: 'Merriweather';
    font-weight: 700;
    font-style: italic;
    src: local('Merriweather Bold Italic'),
    local('Merriweather-700italic'),
    url('../fonts/Merriweather-700italic/Merriweather-700italic.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: normal;
    src: local('Open Sans'),
    local('Open-Sans-regular'),
    url('../fonts/Open-Sans-regular/Open-Sans-regular.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 700;
    font-style: normal;
    src: local('Open Sans Bold'),
    local('Open-Sans-700'),
    url('../fonts/Open-Sans-700/Open-Sans-700.woff') format('woff');
}

*/

/* casper icons */

/*

@font-face {
    font-family: "casper-icons";
    src: url("../fonts/casper-icons.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

*/