<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}" prefix="og: http://ogp.me/ns#">

  {%- include head.html -%}

  {%- assign slug = page.url | split: "/" | last -%}
  {%- assign slugNumber = slug | plus: 0 -%}

  {%- if page.layout -%}
    {%- assign pageLayoutClass = page.layout | append: "-template" -%}
  {%- endif -%}

  {%- if slugNumber > 999999 -%}
    {%- assign pageLayoutClass = pageLayoutClass | append: " twitter-template" -%}
  {%- endif -%}

  {%- if page.layout == "post-short" -%}
    {%- assign pageLayoutClass = pageLayoutClass | append: " post-template" -%}
  {%- endif -%}

  {%- if page.layout == "page" -%}
    {%- assign pageClass = "page page-" | append: slug | append: " page-template-" | append: slug -%}
  {%- endif -%}

  {%- if paginator.page > 1 -%}
    {%- assign archiveClass = "paged archive-template" -%}
    {%- assign pageLayoutClass = "" -%}
  {%- endif -%}

  <body class="{{ pageClass }} {{ pageLayoutClass }} {{ archiveClass }} nav-closed">

    {%- include navigation.html -%}
    {%- include content.html -%}
    {%- include footer.html -%}

    <script>
        window.lazySizesConfig = window.lazySizesConfig || {};
        window.lazySizesConfig.srcAttr = 'data-lazy-src';
    </script>

    <script src="{{ '/assets/js/jquery.slim.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/prism.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/jquery.fitvids.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/lazysizes.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/index.js' | relative_url }}"></script>

  </body>

</html>
